extends layout

block content
  .error-container
    h1 Error #{error.status}: #{message}
    h2 Descripci칩n del Error
    if error.status === 404
      p Parece que la p치gina que est치s buscando no existe.
    else if error.status === 500
      p Ha ocurrido un error interno en el servidor.
    else
      p Ha ocurrido un error desconocido.
    pre.error-stack #{error.stack}

    a(href='/') Volver a la p치gina principal
