extends layout

block content
  p Bienvenido a la plataforma #{title}
  
  h2 Rutas Disponibles
  ul
    li
      a(href='/api/incidencias') Listar todos los incidencias
    li
      a(href='/api/incidencias/:id') Obtener detalles de una incidencia específica (reemplazar :id con el ID de la incidencia)
    li
      a(href='/api/login') Iniciar sesión (usar método POST)
    // Añadir más elementos de lista según las rutas que tengas disponibles

  p Por favor, utiliza las herramientas adecuadas como Postman para las rutas que requieran métodos POST, DELETE, etc.