doctype html
html
  head
    title= title
    // Incluir archivos CSS aquí si los hay
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Gestión de Incidentes - Ciberseguridad
    main
      block content
    footer
      p Derechos reservados © Bego 2024
